@{
    ViewData["Title"] = "Ana Sayfa";
}

<h2>🖼️ KKD Tespiti için Resim Yükle</h2>

<form method="post" enctype="multipart/form-data" asp-controller="ImagePrediction" asp-action="AnalyzeImage">
    <input type="file" name="file" accept="image/*" required />
    <button type="submit">Tahmin Et</button>
</form>

@if (Context.Request.Query["error"].ToString() != "")
{
    <p style="color:red;">@Context.Request.Query["error"]</p>
}
